@font-face {
  font-family: arrow;
  src: url('Arrows.ttf');
}

body {
  background: #111;
  color: #f8f8f8;
}


canvas {
  background: #f8f8f8;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

.div-buttons-movement{
  width: 800px;
  height: 800px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  bottom: 816px;
}


.button{
  font-family: arrow;
  /*color: #cccccc88;*/
  font-size: 50pt;
  background-color: transparent;
  border: none;
  display: none;
}

.button:hover{
  background-color: #e6e3e3;
}

.button:active{
  background-color: #d6d5d5;
}

.button:nth-child(1), .button:nth-child(4){
  width: 800px;
  height: 70px;
  position: absolute;
}

.button:nth-child(2), .button:nth-child(3){
  height: 800px;
  width: 70px;
  position: absolute;
}

.button:nth-child(4){
  top: 730px;
}

.button:nth-child(2){
  left: 730px;
}